$("#js-comment-create-error").empty();
$("#js-comments").html(
  "<%= j(render 'comments/comments', { comments: @comments }) %>"
);
$("#js-comment-create-body").val("");
$("#comments-amount").html(
  "<p><%= @comments.count %>件のコメント</p>"
);