<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
  <p class="col-md-4 mb-0 text-white">2023 Music Memory</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><%= link_to 'お問合せ', new_contact_path ,class: "nav-link m-2 text-white" %></li>
    <li class="nav-item"><%= link_to '利用規約', page_path('terms'), class: "nav-link text-white m-2" %></li>
    <li class="nav-item"><%= link_to 'プライバシーポリシー', page_path('policy'), class: "nav-link text-white m-2" %></li>
  </ul>
</footer>