<div class="chat-message mx-3 my-1">
  <div class="chat-avatar">
    <%= image_tag chat.user.avatar_url, size: '30x30', class: 'rounded-circle' %>
  </div>
  <div class="chat-bubble p-3">
    <div class="triangle"></div>
    <h5 style="font-size: 1.5rem; margin-bottom: 5px;"> <%= chat.user.name %> </h5>
    <p class="mb-0"> <%= chat.message %> </p>
  </div>
</div>
