<ul class="list-unstyled list-inline float-right position-absolute bottom-0 end-0 m-3">
  <li class="list-inline-item" id="search-post-<%= post.id %>">
    <% unless current_page?(post_path(post)) %>
      <%= link_to post_path(post), id: "show-post-#{post.id}" do %>
        <i class="fa-solid fa-circle-info"></i>
      <% end %>
    <% end %>
  </li>
  <% if logged_in? && current_user.mine?(post) %>
    <li class="list-inline-item">
      <%= link_to edit_post_path(post), id: "edit-post-#{post.id}" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </li>
    <li class="list-inline-item">
      <%= link_to post_path(post), method: :delete, data: { confirm: t('defaults.messages.delete_confirm') }, id: "destroy-post-#{post.id}" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </li>
    <li class="list-inline-item">
    </li>
  <% end %>
</ul>