<div class="card content-card border-left col-12 position-relative m-1">
  <div class="card-body">
    <div>
      <%= link_to memory_post.memory, post_path(memory_post) %>
    </div>
  </div>
  <div class="position-absolute bottom-0 end-0">
    <%= render 'posts/crud_menu', post: memory_post %>
  </div>
</div>