<% breadcrumb :posts_edit, @post %>
<% content_for(:title, t('.title')) %>
<div class="form-signin m-auto col-6 offset-3">
  <h1 class="text-center mb-4"><%= "#{@post.music_name}に関する#{t('.title')}" %></h1>  
  <%= render 'form', post: @post, embed: @embed, submit: t('posts.edit.submit') %>
  <div class="text-center">
    <%= link_to t('defaults.back_button'), post_path(@post) %>
  </div>
</div>