<% breadcrumb :posts_memory %>
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row justify-content-center">
    <h1 class="mt-5 mb-5 text-center"><%= t('.title') %></h1>
    <div class="card-deck row d-flex justify-content-evenly col-lg-10 col-md-10 col-sm-10">
      <% if @posts.present? %>
        <%= render partial: 'memory_post', collection: @posts %>
      <% else %>
        <div class="text-center m-5"><%= t('defaults.messages.no_posts') %></div>
      <% end %>
    </div>
    <div class="mt-5">
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>