/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

a {
  text-decoration: none;
  font-weight: 450;
  font-size: 18px;
  color: #bd4403;
  &:hover {
    opacity: .7;
  }
}

.header-color {
  color: white;
}

h1, div, p, small, .title-color, .orange-color {
  color: #ea5504;
}

.orange-color {
  color: #ea5504;
}

table tr {
  color: #ea5504;
}

.bg-header {
  background: #ea5504;
}

.bg-layout {
  background: #ea55040a;
}

.btn-orange {
  background-color: #ea5504;
  color: white;
  &:hover {
    background-color: #ea5504;
    color: white;
    opacity: .4;
  }
}

.border-left {
  border-left: 6px solid #ea5504;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #ea55040b;
}

.table-striped td {
  color: #ea5504;
  font-weight: bold;
}

.pagination{
  justify-content: center;
  >li>a {
    border: none;
    color: #ea5504;
    background: #ea55040a;
    &:hover {
      background: #ea5504;
      color: white;
      opacity: 1;
      border-radius: 50%;
    }
  }
  >.active>a {
    background: #ea5504;
    color: white;
    border-radius: 50%; 
  }
  >li.disabled>a {
    border: none;
    color: #ea5504;
    background: #ea55040a;
  }
}

.btn-search {
  margin: 4px;
  border-radius: 8px;
  color: #7d3209;
  background: white;
  border-color: white;
  &:hover {
    opacity: .7;
  }
}

footer {
  height: 120px;
  background-color: #ea5504;
}

input{
  border-color: white;
  border-radius: 8px;
  &::placeholder {
  color: #ea5504;
  opacity: .6;
  }
}

label{
  color: #ea5504;
  font-size: 20px;
}

input.form-control, textarea.form-control {
  &::placeholder {
    color: #ea5504;
    opacity: .6;
  }
}

#notification-icon {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  top: -12px; /* Adjust as needed */
  right: -12px; /* Adjust as needed */
  background-color: red; /* 任意の色 */
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 50%;
  line-height: 1;
  min-width: 18px; /* Adjust as needed */
  text-align: center;
}

.chat-message {
  position: relative;
  margin-bottom: 20px;
}

.chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin-right: 10px;
}

.chat-bubble {
  background-color: #ff7b0019;
  border-radius: 10px;
  padding: 10px;
  margin-left: 50px;
  position: relative;
  word-break: break-word;
  display: inline-block;
}

.triangle {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ff7b0019;
}